/* General Reset and Base Styles */
body {
    margin: 0;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    background-color: #16202D;
    color: #333;
}

/* Header Section */
.Header {
    background-color: #171A21;
    color: #ffffff;
    padding: 20px;
    display: flex;     
    justify-content: space-between;
    gap: 40px;                 /* space between left and right blocks */
}
.Header-left,
.Header-right {
    display: inline-flex;
    align-items: center;
    gap: 16px;
}
.Header-left{
    justify-content: left;
}
.Header-right{
    justify-content: right;
}
.Header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: lighter;
}

.Header a {
    margin: 0 15px;
    color: #ddd;
    text-decoration: none;
    font-weight: 200;
}

.Header a:hover {
    color: #00bcd4;
}

/* Profile Section */
.Profile {
    color: #f5f5f5;
    background-color: #1B2838;
    margin: 30px auto;
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    outline-color: #00bcd4;
}

.Profile h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.Profile p {
    margin: 8px 0;
    font-size: 1em;
}

.Profile img {
    vertical-align: middle;
    margin-right: 8px;
}

/* About Section */
.About {
    color: #f5f5f5;
    background-color: #1B2838;
    margin: 30px auto;
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 0 10px #0000001a;
    border-radius: 8px;
    outline-color: #00bcd4;
}

.About h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.About p {
    line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 600px) {
    .Header a {
        display: block;
        margin: 10px 0;
    }

    .Profile, .About {
        margin: 15px;
        padding: 15px;
    }
}